.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1360px;
  padding: 32px 0 28px;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  box-sizing: border-box;
}

.header__left,
.header__right {
  display: flex;
  align-items: center;
}

.header__left {
  gap: 24px;
}

.header__logo {
  height: 40px;
  width: 89px;
}

.header__date-location,
.header__user {
  margin: 0;
}

.header__add-clothes-btn {
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0 20px 0 0;
}

.header__add-clothes-btn:hover {
  opacity: 0.6;
}

.header__user {
  margin-right: 12px;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 820px) {
  .header__right {
    display: none;
  }
}
