.user-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}
.user-avatar_placeholder {
  background: #fff;
  color: #000;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
}
