.sidebar {
  width: 229px;
  flex-shrink: 0;
}

.sidebar__user-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidebar__username {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  white-space: nowrap;
}

.sidebar__button {
  display: block;
  border: 0;
  background: none;
  padding: 0;
  margin-top: 8px;
  cursor: pointer;
  font:
    700 20px/24px "Cabinet Grotesk",
    Arial,
    sans-serif;
}
.sidebar__user-info + .sidebar__button {
  margin-top: 24px;
}
.sidebar__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 820px) {
  .sidebar {
    width: 100%;
    margin-bottom: 40px;
  }
}
